<!DOCTYPE html>
{% extends 'main.html' %}
{% load static %}}
{% block content %}

<h1>Projects</h1>

<img style="width: 400px;" src="{% static 'images/techart-1.jpg' %}" />

<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
        </tr>
    </thead>

    <tbody>
        {% for project in projects %}
        <!--                 ^
                  must match with key
                  of context variable in views.py
        -->
        <tr>
            <td><a href="{% url 'project' project.id %}">{{ project.title }}</a></td>
            <td>{{ project.description }}</td>
            <td><a href="{% url 'update-project' project.id %}">Edit</a></td>
            <td><a href="{% url 'delete-project' project.id %}">Delete</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock content %}